
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Ancestry.Models.LoginViewModel

<div class="login-page">
    <div class="form">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "login-form" }))
        {
            @Html.TextBoxFor(m => m.UserName, new { @placeholder = "name" })
            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Password, new { @placeholder = "Password" })
            <button>login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
        }
    </div>
</div>
